$background: Cornsilk;
$row-background: Azure;
$square-background: DarkSeaGreen;
$base-border-radius: 0.25rem;

body {
  background: $background;
  display: flex;

  height: 100vh;
  width: 100vw;

  align-items: center;
  justify-content: center;

  font-family: helvetica;
  color: $square-background;
}

.grid {
  display: flex;
  flex-direction: column;

  background-color: $row-background;
  border-radius: $base-border-radius;
  padding: 0.25rem;

  .row {
    display: flex;

    .square {
      background-color: $square-background;
      border-radius: $base-border-radius;
      margin: 0.25rem;

      height: 5rem;
      width: 5rem;

      color: $row-background;
      font-size: 4rem;
      text-align: center;
    }
  }
}
