$background-color: Cornsilk;
$primary-color: Azure;
$secondary-color: DarkSeaGreen;
$winning-color: Gold;
$base-border-radius: 0.25rem;

body {
  background: $background-color;
  display: flex;

  height: 100vh;
  width: 100vw;

  align-items: center;
  justify-content: center;

  font-family: helvetica, sans-serif;
  color: $secondary-color;
}

.game {
  .board {
    display: flex;
    flex-direction: column;

    background-color: $primary-color;
    border-radius: $base-border-radius;
    padding: 0.25rem;

    .row {
      display: flex;

      .square {
        background-color: $secondary-color;
        border-radius: $base-border-radius;
        margin: 0.25rem;

        height: 5rem;
        width: 5rem;

        color: $primary-color;
        font-size: 4rem;
        text-align: center;

        transition: background-color 0.25s, opacity 0.25s;

        &.is-winner {
          background-color: $winning-color;
        }
      }
    }

    // Spin and scale up the board when a user wins
  }

  &.game-over .board {
    .square:not(.is-winner) {
      opacity: 0.5;
    }

    &:hover {
      cursor: pointer;
      animation: 1s linear 0s infinite Wobble;
    }
  }

  // Show clickable indicator as long as game is ongoing
  &:not(.game-over) {
    .square:not(.x):not(.o):hover {
        cursor: pointer;
        animation: 1s linear 0s infinite Wobble;
    }

    &.player-x .square:not(.x):not(.o):hover {
      &:before {
        content: 'x';
        animation: 1.5s ease-in-out 0s infinite FadeInOut;
      }
    }

    &.player-o .square:not(.x):not(.o):hover {
      &:before {
        content: 'o';
        animation: 1.5s ease-in-out 0s infinite FadeInOut;
      }
    }
  }
}

@keyframes Wobble {
  0% { transform: rotate(0); }
  25% { transform: rotate(-5deg); }
  75% { transform: rotate(5deg); }
  100% { transform: rotate(0); }
}

@keyframes FadeInOut {
  0% { opacity: 0; }
  50% { opacity: 0.5; }
  100% { opacity: 0; }
}
